
body, html{
    padding: 0px;
    margin: 0px;
}

body{
    background: url("Images/fon.jpg");
    background-size: 100% auto;
    height: 800px;
    position: relative;
}

.pole{
    width: 100%;
    height: 900px;
    z-index: 10;
    position: absolute;
    top: 0px;
}

.pole img{
    width: 100%;
}

.zvezda{
    animation: translating 6s ease-out 4s infinite;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 5;
    top: -500px;
}

.zvezda img{
    width: 100%;
}

@keyframes translating {
    0%{ 
        top: -200px;
        left: 950px; 
        transform: rotate(-20deg);}
    100% { 
        top: 550px; 
        left: 0px; 
        transform: rotate(-29deg); }
  }

.fire{
    position: absolute;
    top: 530px;
    z-index: 25;
    left: 600px;
    width: 230px;
    height: 230px;
}

.fire img{
    width: 100%;
}

.plamya, .plamya1{
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 27;
    top: 520px;
    left: 675px;
}

.plamya img{
    width: 100%;
    animation: fire 0.8s linear infinite alternate;
}


.plamya1 img{
    width: 100%;
    animation: fire1 0.8s linear infinite alternate;
}

@keyframes fire{
    0%{
        opacity:0.6;
        transform: scale(1) skew(1deg);
    }
    50%{
        opacity: 1;
        transform: scale(1.025) skew(-1deg);
    }

    100%{
        opacity: 0.6;
        transform: scale(1) skew(1deg);
    }
}

@keyframes fire1{
    0%{
        opacity:0.6;
        transform: scale(1) skew(-1deg);
    }
    50%{
        opacity: 1;
        transform: scale(1.025) skew(1deg);
    }

    100%{
        opacity: 0.6;    
        transform: scale(1) skew(-1deg);
        }
}

.moon{
    position: absolute;
    width: 110px;
    height: 110px;
    top: 70px;
    left: 1180px;
    z-index: 25;
}

.moon img{
    width: 100%;
    animation: moon 3s ease-in-out 0.5s infinite; 
}

@keyframes moon{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.boy{
    position: absolute;
    top: 133px;
    z-index: 26;
    width: 50px;
    height: 50px;
    animation: boy 5s ease-out, boy2 1.5s linear 5s infinite alternate;
}

.boy img{
    width: 100%;
}

.boy img:hover{
    animation: opacity 0.7s linear;
    animation-fill-mode: forwards;
}

@keyframes boy{
    0%{
        left: 1180px;
        top: -20px;
    }
    60%{
        left: 1180px;
        top: 145px;
    }
    80%{
        left: 1180px;
        top: 130px;
    }
    100%{
        left: 1180px;
        top: 142px;
    }
}

@keyframes boy2{
    0%{
        left: 1180px;
        top: 142px;
        transform: rotate(0deg);
    }
    50%{
        left: 1185px;
        top: 145px;
    }
    100%{
        left: 1190px;
        top: 147px;
        transform: rotate(-10deg);
    }
}

.si{
    position: absolute;
    left: -500px;
    top: 300px;
    z-index: 16;
    width: 500px;
    height: 500px;
    animation: si1 3s linear 7s 1, si 1.5s linear 10s infinite;
}

.si img{
    width: 100%;
}

@keyframes si1{
    0%{
        opacity: 0;
        left: 300px;
    }
    100%{
        opacity: 1;
        left: 300px;
    }
}

@keyframes si{
    0%{
        opacity: 1;
        left: 300px;
    }
    50%{
        opacity: 0.7;
        left: 298px;
    }
    100%{
        opacity: 1;
        left: 300px
    }
}

.bear{
    position: absolute;
    top: 350px;
    left: 4px;
    width: 450px;
    height: 450px;
    z-index: 17;
    animation: bear2 6.5s linear 6s both;
}

.bear img{
    width: 100%;
    animation: bear 0.5s linear 6s 12 alternate, bear1 0.5s linear 12s;
}

@keyframes bear{
    0%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
}

@keyframes bear1{
    0%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes bear2{
    0%{
        left: -400px;
    }
    100%{
        left: 280px;
    }
}

.mouse{
    position: absolute;
    width: 200px;
    height: 200px;
    top: -200px;
    left: 100px;
    z-index: 31;
    animation: mouse 15s ease-in-out infinite alternate;
}

.mouse img{
    width: 100%;
}

.mouse img:hover{
    animation: opacity 0.7s linear;
    animation-fill-mode: forwards;
}

@keyframes opacity{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes mouse{
    0%{
        top: 100px;
        left: 500px;
        width: 100px;
    }
    20%{
        top: 400px;
        left: 400px;
        width: 150px;
    }
    40%{
        top: 300px;
        left: 600px;
        width: 140px;
    }
    60%{
        top: 400px;
        left: 800px;
        width: 200px;
    }
    80%{
        top: 100px;
        left: 900px;
    }
    100%{
        top: 200px;
        left: 1200px;
    }
} 
